{% extends 'base.html' %}

{% block title  %} profile page {% endblock %}

{% block body_block %}
<h3>Your profile</h3>
{% if user.user_profile%}
<img src="/media/{{user.user_profile.profile_pic}}"  class="rounded-circle"  width="120px">
<br><br>
<a href="{%url 'App_login:change_pro_pic'%}" class="btn btn-info btn-sm">Change profile pic</a>
{%else%}
<img src="/media/download.jpg" class="rounded-circle" width="120px">
<br>
<a href="{%url 'App_login:addprofile_pic'%}" class="btn btn-info btn-sm">Change profile pic</a>

{%endif%}

<br><br>

<p>Username : {{user.username}}</p>
<p>Email : {{user.email}}</p>
<p>Name : {{user.first_name}} {{user.last_name}} </p>
<br>
<a href="{%url 'App_login:change_profile'%}" class="btn btn-warning btn-sm">change profile info</a>


{%endblock%}

