<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    
    <title>

    {% block title%}
      Blog Page
    {% endblock %}
    </title>
  </head>
  <body>
    
   <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
   <ul class="navbar-nav">

      <li class="nav-item active">
           <a class="nav-link" href="{% url 'index'%}">Home</a>

       </li>

      {%if user.is_authenticated %}
        <li class="nav-item active">
           <a class="nav-link" href="{% url 'App_blog:create_blog'%}">Write Blog</a>
      
       </li>
        <li class="nav-item active">
           <a class="nav-link" href="{% url 'App_login:logout'%}">logout</a>
      
       </li>
       
        <li class="nav-item active">
           <a class="nav-link" href="{% url 'App_login:profile'%}">profile</a>
      
       </li>
       {%else%}
       <li class="nav-item active">
           <a class="nav-link" href="{% url 'App_login:signup'%}">sign up</a>

       </li>
        <li class="nav-item active">
           <a class="nav-link" href="{% url 'App_login:signin'%}">login</a>

       </li>
     {%endif%}
       
   </ul>
   {%if user.is_authenticated %}
  <div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">
      {{user.username}}
    </a>
  
    <div class="dropdown-menu" >
        <a class="dropdown-item" href="{%url 'App_blog:my_blogs'%}">my blogs</a>
        <a class="dropdown-item" href="{%url 'App_login:profile'%}">your profile</a>
        <a class="dropdown-item" href="{% url 'App_login:logout'%}">logout</a>

    </div>
  </div>
  {%endif%}
   </div>
   </nav>
 <div class="container"> 
  {% block body_block%}
  
  {% endblock %}

 </div>
 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
    
</html>