{% extends 'base.html' %}
{%load custom_filters %}
{% block title  %}
Home
{% endblock  %}

{% block body_block %}
{% for blog in blogs%}


<h2>{{blog.blog_title}}</h2>
<h5><i>{{blog.publish_date}}</i></h5>
<br>
<div class="row">
    <div class="col-sm-4">
        <img src="/media/{{blog.blog_image}}" alt="{{blog.blog_title}}" title="{{blog.blog_title}}" width="100%">

    </div>
    <br>

    <div class="col-sm-8">
     <p>{{ blog.blog_content|range_filter|linebreaks }}<a href="{%url 'App_blog:blog_details' blog.slug %}">read more</a></p>
     <h6>Posted by: {{blog.author}}</h6>
    <h6>{{blog.liked_blog.count}} Likes | {{blog.blog_comment.count}} Comments </h6>
    </div>
</div>

{%endfor%}


{% endblock%}